<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="cn.zhanx.test3.mapper.StudentMapper">
    <select id="listCount" resultType="Integer">
      select count(*) from student;
    </select>

    <select id="selectByName" resultType="cn.zhanx.test3.entity.Student">
        SELECT * FROM student where name like CONCAT('%',#{name},'%')
    </select>



</mapper>

